body, ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/*加载动画*/
.loading {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: #FFF;
}

.loading .pic {
	width: 400px;
	height: 300px;
	background-image: url(../images/loader.gif);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#to_top {
	display: none;
	z-index: 500;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 30px;
	bottom: 20px;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	border-radius: 5px;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
}
/*页头样式*/
#header {
	height: 510px;
}

.nav_wrap {
	height: 110px;
}

.nav_con {
	height: 34px;
	border-bottom: 1px solid #ddd;
	margin-top: 0 auto;
}

.nav_cont {
	height: 34px;
	width: 1349px;
}

.nav_cont .nav_cont_l {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: block;
	float: left;
	margin-left: 105px;
	width: 200px;
	line-height: 34px;
	color: #888;
	text-align: center;
}

.nav_cont .nav_cont_r {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: block;
	float: right;
	margin-right: 105px;
	width: 200px;
	line-height: 34px;
	color: #888;
	text-align: center;
}

nav {
	width: 1349px;
	height: 75px;
	margin: 0 auto;
}

nav .nav_logo {
	margin-left: 105px;
	margin-top: 30px;
	float: left;
	width: 94.7px;
	height: 30px;
	background: url(../images/2330.png);
}

nav .nav_logo h1 {
	margin: 0;
	height: 30px;
}

nav .nav_logo a {
	display: inline-block;
	text-indent: -5000em;
	width: 94.7px;
	height: 30px;
}

nav .nav_nav {
	margin-top: 30px;
	margin-right: 105px;
	float: right;
}

nav .nav_nav ul {
	height: 35px;
}

nav .nav_nav ul li {
	float: left;
	list-style: none;
	width: 140px;
	height: 35px;
	text-align: center;
}

nav .nav_nav a {
	-moz-transition: color 1s;
	-moz-transition: box-shadow 0.5s;
	-o-transition: color 1s;
	-o-transition: box-shadow 0.5s;
	-webkit-transition: color 1s;
	-webkit-transition: box-shadow 0.5s;
	text-decoration: none;
	color: #888;
	display: inline-block;
	width: 60px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

nav .nav_nav ul li a:hover {
	color: #000;
}

nav .nav_nav ul .nav_btn a:hover {
	box-shadow: 0px 4px 8px 0px #000;
}

nav .nav_nav .nav_btn {
	float: right;
}

nav .nav_nav .nav_btn-1 {
	float: right;
}

nav .nav_nav .nav_btn-1 a:hover {
	color: #000;
}

nav .nav_nav .nav_cl {
	background-color: #2D6CDF;
	color: #FFF;
}

.banner {
	margin: 10px auto;
	width: 1300px;
	height: 390px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px 0px #000;
	background: #cccccc;
	overflow: hidden;
	position: relative;
}

.banner ul li img {
	display: block;
}

.banner ul {
	position: absolute;
	left: 0;
	top: 0;
}

.banner ul li {
	display: block;
	width: 1300px;
	height: 390px;
	z-index: 100;
}

.banner .con {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	bottom: 3%;
	z-index: 101;
}

.banner .con a {
	float: left;
	margin-right: 8px;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background: #000;
	z-index: 101;
}

.banner .con a.active {
	background: #fff;
}

.banner .u {
	width: 20px;
	height: 20px;
	display: none;
	font-size: 18px;
}

.banner .left {
	position: absolute;
	margin-top: -10px;
	top: 50%;
	left: 1%;
	z-index: 103;
	text-align: center;
	cursor: pointer;
}

.banner .right {
	position: absolute;
	margin-top: -10px;
	top: 50%;
	right: 1%;
	z-index: 103;
	text-align: center;
	cursor: pointer;
}
/*主体样式*/
#main {
	height: 680px;
}

#main strong {
	height: 40px;
	line-height: 40px;
	font-size: 25px;
	text-align: center;
	margin-top: 60px;
	font-family: 宋体;
	color: #888;
	display: block;
}

#main .shop {
	margin: 20px auto;
	border: 0px solid blue;
	height: 600px;
}

#main .shop .shop_wrap {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}

#main .shop .shop_gn {
	float: left;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

#main .shop .shop_gn a {
	color: #333333;
}

#main .shop .shop_gn span {
	display: inline-block;
	margin-left: 105px;
	margin-top: 50px;
	font-size: 37px;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	background-color: #F5F5F5;
	line-height: 90px;
	text-align: center;
	transition: background-color 2s, color 2s;
	-moz-transition: background-color 2s, color 2s, -moz-transform 2s;
	-webkit-transition: background-color 2s, color 2s, -webkit-transform 2s;
	-o-transition: background-color 2s, color 2s, -o-transform 2s;
}

#main .shop .shop_gn span:hover {
	color: #FFF;
	cursor: pointer;
	background-color: #2D6CDF;
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

#main .shop .shop_gn h4 {
	text-align: center;
	margin-top: 10px;
}

#main .shop .shop_gn p {
	text-align: center;
	color: #888;
}
/*页尾样式*/
#footer {
	height: 200px;
	background: url(../images/bg.jpg) no-repeat center;
	background-size: 100%;
	overflow: hidden;
	background-color: #000;
	opacity: 0.75;
	-webkit-opacity: 0.750;
	-moz-opacity: 0.750;
	-o-opacity: 0.750;
	filter: alpha(opacity = 75);
}

#footer_p {
	text-align: center;
	color: #FFF;
	padding: 0px;
	margin-top: 95px;
}
/*弹出层*/
#mask {
	background-color: #000;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 600;
}

#login1 {
	position: fixed;
	left: 30%;
	top: 30%;
	z-index: 601;
}

.login1con {
	width: 400px;
	height: 300px;
	background-color: #FFF;
	position: relative;
}

.login_head {
	width: 400px;
	height: 50px;
	background-color: #2D6CDF;
	position: relative;
}

.login_head h4 {
	width: 50px;
	height: 50px;
	color: #FFF;
	position: relative;
	line-height: 50px;
	left: 20px;
}

#close {
	font-size: 23px;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
}
/*.login_con{width: 400px;height: 250px;background-color: #E6E6E6; position: relative;left: 0px;}*/
.login_for {
	width: 400px;
	height: 250px;
	background-color: #E6E6E6;
	position: relative;
	left: 0px;
}

.login_in1 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 30px;
	left: 50px;
}

.login_in2 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 90px;
	left: 50px;
}

.login_wj {
	display: block;
	width: 100px;
	height: 20px;
	text-decoration: none;
	color: #000;
	position: absolute;
	bottom: 88px;
	right: 50px;
	text-align: right;
}

.login_in3 {
	width: 100px;
	height: 38px;
	position: absolute;
	bottom: 35px;
	left: 50px;
	color: #FFF;
	background-color: #2D6CDF;
	border: 0px;
}

.login_in4 {
	width: 100px;
	height: 38px;
	position: absolute;
	bottom: 35px;
	right: 50px;
	color: #FFF;
	background-color: #2D6CDF;
	border: 0px;
}

#mask2 {
	background-color: #000;
	opacity: 0.75;
	filter: alpha(opacity = 75);
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 606;
}

#regsiter1 {
	position: fixed;
	left: 30%;
	top: 30%;
	z-index: 609;
}

.regsiter1con {
	width: 400px;
	height: 480px;
	background-color: #FFF;
	position: relative;
}

.regsiter_for {
	width: 400px;
	height: 480px;
	background-color: #FFF;
	position: relative;
}

.regsiter_head {
	width: 400px;
	height: 50px;
	background-color: #2D6CDF;
	position: relative;
}

.regsiter_head h4 {
	width: 50px;
	height: 50px;
	color: #FFF;
	position: relative;
	line-height: 50px;
	left: 20px;
}

#close2 {
	font-size: 23px;
	text-align: center;
	line-height: 30px;
	color: #FFF;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
}
/*.regsiter_con{width: 400px;height: 430px;background-color: #E6E6E6; position: relative;left: 0px;}*/
.regsiter_for {
	width: 400px;
	height: 430px;
	background-color: #E6E6E6;
	position: relative;
	left: 0px;
}

.regsiter_in1 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 40px;
	left: 50px;
}

.regsiter_in2 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 95px;
	left: 50px;
}

.regsiter_in3 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 150px;
	left: 50px;
}

.regsiter_in4 {
	width: 300px;
	height: 35px;
	position: absolute;
	top: 205px;
	left: 50px;
}

.regsiter_in5 {
	width: 150px;
	height: 35px;
	position: absolute;
	top: 260px;
	left: 50px;
}

.regsiter_in6 {
	width: 100px;
	height: 35px;
	position: absolute;
	top: 260px;
	right: 50px;
	color: #FFF;
	background-color: #2D6CDF;
	border: 0px;
}

.regsiter_in7 {
	width: 300px;
	height: 38px;
	position: absolute;
	bottom: 35px;
	right: 50px;
	color: #FFF;
	background-color: #2D6CDF;
	border: 0px;
}